body{
    margin: 0;
    padding: 0;
    background: white;
}


.header{
    color: blue;
text-align: center;
}



.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px;

}


.form-group{
    background: black;
    width: 50%;
}
