.logo{
    font-size: 20px;
    /* border:black 2px solid; */
    /* padding: 5px; */
    text-decoration: none;
}
.first{
    font-weight: bolder;
    color: yellow;
}
.second{
    font-weight: bold;
    color: #000000;
}

.strokes{
    letter-spacing: -8px;
    font-weight: bolder;
    color: yellow;
    padding: 10px 0;
    text-align: center;
    margin: 0;
    height: 1%;
}